.col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.product-grid {
    flex: 0 0 auto;
    width: 100%;
}

@media only screen and (min-width: 400px) {
    .product-grid {
        width: 50%;
    }
}

@media only screen and (min-width: 600px) {
    .col-s-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-s-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .col-md-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }
}

@media only screen and (min-width: 992px) {
    .col-d-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-d-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-d-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .col-d-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-d-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }
}
