.col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}

// Bigger Screen
@media only screen and (min-width: 992px) {
    .col-d-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .col-d-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-d-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}
