:root {
    --black: #282828;
    --white: #ffffff;
    --chicago: #5e5c58;
    --light-pink: #ffa28f;
    --light-green: #aece89;

    --text-xs: 0.75rem;
    --text-s: 0.875rem;
    --text-m: 1rem;
}
