:root {
    --chicago: #5e5c58;
    --black: #282828;
    --light-pink: #ffa28f;
    --light-green: #aece89;

    --text-xs: 0.75rem;
    --text-s: 0.875rem;
    --text-m: 1rem;
}

.bg-black {
    background-color: var(--black);
}

.header {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.07);
}
