@import "variables", "normalize";
@import "layout/container", "layout/grid";
@import "utilities/display", "utilities/flex", "utilities/gutter", "utilities/coloring", "utilities/text";

// Todo: move CSS below to specific folder / file

// Card
.card {
    border-radius: 8px;
    overflow: hidden;
    max-width: 100%;

    @media only screen and (min-width: 600px) {
        max-width: 270px;
    }
}

// Sizing
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100;
}

// Button
.btn {
    height: 48px;
    line-height: 48px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 8px;
}

.btn-primary {
    background-color: var(--light-green);
    color: var(--white);
}

// Positioning
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

// Offset
.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

// Border Radius
.border-radius-0 {
    border-radius: 0;
}

.border-radius-1 {
    border-radius: 8px;
}

// Custom Plugin Section
.swiper-button-next,
.swiper-button-prev {
    color: var(--white);
    background-color: var(--light-pink);
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1.5rem; //24px
}
