.bg-dark {
    background-color: var(--black);
}

.bg-white {
    background-color: var(--white);
}

.bg-primary {
    background-color: var(--light-pink);
}

.bg-secondary {
    background-color: var(--light-green);
}
